[Desktop Entry]
Exec=/home/i/bin/monitors-to-windows.sh
Name=monitors-to-windows
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
