[Desktop Entry]
Type=Application
Name=ww_firefox
Exec=ww -f firefox -c firefox
Icon=code
NoDisplay=true
StartupNotify=false
X-KDE-GlobalAccel-CommandShortcut=true