[Desktop Entry]
Exec=ww -f chrome -c chrome
Name=ww_chrome
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
