[Desktop Entry]
Exec=/home/i/bin/monitors-to-cachy.sh
Name=monitors-to-cachyos
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
